= render "shared/header"
.title
  = current_user.name
  さんの面接一覧

/ テーブル
%table
  %tr
    %th 面接開始時間
    %th 承認状態
  - @interviews.each do |interview|
    %tr
      %td
        = interview.starttime.strftime("%Y年%m月%d日 %H時%M分")
      %td
        = interview.status
      - if interview.status == '保留'
        %td
          = button_to "編集", edit_user_interview_path(current_user.id, interview.id), method: :get
        %td
          = button_to "削除", user_interview_path(current_user.id, interview.id), method: :delete
      - else
        %td
          = button_to "編集", edit_user_interview_path(current_user.id, interview.id), method: :get, disabled: true
        %td
          = button_to "削除", user_interview_path(current_user.id, interview.id), method: :delete, disabled: true

.bottombox
  .bottombox__request
    = form_tag() do
      %select
        - @addresses.each do |address|
          %option{value: "#{address.email}"} #{address.email}
      %input{type: "submit", value: "申請"}
  .bottombox__new
    = button_to "新規面接作成", new_user_interview_path(current_user.id), method: :get
